RewriteEngine On 


RewriteRule ^$ index.php?language=fr&page=1
RewriteRule ^accueil.html$ index.php?language=fr&page=1&accueil
RewriteRule ^qui-sommes-nous.html$ index.php?language=fr&page=2
RewriteRule ^categories.html$ index.php?language=fr&page=3
RewriteRule ^services.html$ index.php?language=fr&page=4
RewriteRule ^gallerie.html$ index.php?language=fr&page=5
RewriteRule ^contact.html$ index.php?language=fr&page=6
RewriteRule ^protection.html$ index.php?language=fr&page=7
RewriteRule ^tube_bride.html$ index.php?language=fr&page=8
RewriteRule ^boulonnerie.html$ index.php?language=fr&page=9
RewriteRule ^raccordement.html$ index.php?language=fr&page=10
RewriteRule ^capot_regard.html$ index.php?language=fr&page=11
RewriteRule ^obturation.html$ index.php?language=fr&page=12
RewriteRule ^comptage.html$ index.php?language=fr&page=13
RewriteRule ^branchement.html$ index.php?language=fr&page=14


#RewriteRule ^photos-(.*).html$ index.php?language=fr&page=5&id_album=$1

RewriteRule ^contact-msg-envoye.html$ index.php?language=fr&page=6&contact&email_sent
